#body
{
	background:url(../images/bg.jpg);
}

#header 
{

	width: 1100px;
	background: url(../images/header.png) no-repeat ;
	height:200px;
	margin-left: 46px;
	margin-top:20px;
}

#main
{
	width:1100px;
	margin:0 auto;
	text-align: center;
}

#livevideodiv
{
	border-radius:15px;
    margin-top:60px;
    width: 380px;
    height: 290px;
    text-align: center;
    background-color: #000000;
    margin-left:60px;
    float: left;
}

#liveVideo
{
	padding: 10px;
    
}

#remotevideodiv
{
	border-radius:15px;
    margin-top:60px;
    width: 380px;
    height: 290px;
    text-align: center;
    background-color: #000000;
    margin-right:60px;
    float:right;
}

#remotevideo
{
	padding: 10px;
    
}

#anim
{
	margin-left:5px;
    margin-top:180px;
    float: left;
}

