@charset "utf-8";
/* CSS Document */
.bodybg{background:url(../images/background.jpg) 100% 100%;background-size:cover;font-family:Arial, Helvetica, sans-serif;background-attachment:fixed;}
.header-part{background:rgba(255,255,255,0.9);width:100%;}
.logo{padding:10px 0px;}
.over-lap {
    position: absolute;
    right: 50px;
    top: 7px;
	display:none;
}
.profile.pull-left {
    border-radius: 50%;
    height: 80px;
    margin-right: 25px;
    overflow: hidden;
    width: 80px;
}
.loginname{font-size:12px;color:#000;font-family:Arial, Helvetica, sans-serif;}
.bg-blue{background:#0078ac;border:0px;}
.bg-login{background:#fff;margin-top:100px;border-radius:5px;;}
.header-bg {
    background: #60567d;
}
.disableAnchor{
	pointer-events: none;
}
.title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-transform: uppercase;
	margin-top:10px;
	margin-bottom:0px;
}

.btn-service {
    background:#9f86e6;
    border: 0 none;
    margin: 18px 0;
    min-height: 43px;
    width: 150px;
	color:#fff;
	transition:all ease-in-out 0.5s 0s;
}




.btn-service:hover:hover{background:#06C;}





.hder {
    background: #385277 none repeat scroll 0 0;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 25px;
    margin: 25px auto;
    padding: 15px 1px 15px 25px;
    text-align: left;
    text-transform: uppercase;
    width: 94%;
}
.modify-modal-width{max-width:960px;width:100%;}


label.control-label {
    color: #39383c;
    font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
}
.form-control{border-radius:0px;}
.close-btn {
    color: white;
    position: absolute;
    right: 50px;
    top: 36px;
}
.upload {
    background: red none repeat scroll 0 0;
    border: 0 none;
    float: right;
    margin-top: 20px;
}
.border4sd{border:solid 1px #eee;margin-bottom:20px;}
.btn-close-mdfy{background:#8080FF;color:#fff;}
.width-modify{width:400px; margin:0px auto;padding-top:50px;}
.icon-block {
    background: #fe0000 none repeat scroll 0 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    left: -62px;
    top: -5px;
    min-width: 47px;
    padding: 12px;
    position: absolute;
    z-index: 100;
}
.icon-block i {
    color: white;
    font-size: 17px;
}
.btn-modify-submit {
    background: #f00 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 8px 28px;
	border:0px;
}

.bg-off-white{background:#E8E8E8;margin-top:80px; padding-bottom: 30px;margin-bottom:30px;}

.connect {
    background: #ff7e00 none repeat scroll 0 0;
    margin: 0;
    padding: 3px 0 10px 0px;
    transition: all 0.5s ease-in-out 0s;
}	
.over-lap-connect {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
}

.col-1 {
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 1.5%;
    position: relative;
    
}
.connect a {
    color: #fff;
    display: inline-block;
    font-family: helvetica;
    font-size: 17px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
	font-weight:bold;
}
.col-1 > img {
    padding: 30px 0;
	margin:auto;
}
.connect:hover{background:#c56100;}
.col-1:hover .over-lap-connect{transform:scale(1.1);}
/*-------------MY GROUP---------------*/
.grop-part{background:#fff;margin:40px auto;border-radius:3px;overflow:hidden;}
.my-group{   background: #ad8a62 ;
    color: #fff;
    font-family: helvetica;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 12px;
}
.my-group-members{
	background: #ffe4b5 ;
    color: #000;
    font-family: helvetica;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 12px;
}
.profile-img{width:35px; height:35px;border-radius:50%;overflow:hidden;float:left;margin-left:30px; margin-right: 50px;}
.profile-img > img {
    height: 100%;
    width: 100%;
}
.list-group-modify {
    border-radius: 0;
    height: 423px;
    margin: auto;
    overflow-y: scroll;
    padding: 3px 0 1px;
    width: 92%;
}
.list-group-modify li{background:#f1f0fe;border:0px;margin:5px auto;}
.list-group-modify li.list-group-item{padding:0px;text-align:left;}
.list-group-modify li.list-group-item a{ font-weight: bold;font-size: 21px;line-height: 34px;color:#535351;font-family:Arial, Helvetica, sans-serif;display:inline-block;width:100%;}
.list-group-modify li.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
   margin-bottom:20px;
}
.list-group-modify li.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	
}
.list-group-modify li.list-group-item a:hover {background:#9a90ff;text-decoration:none;color:#fff;}
a{transition: all 0.3s ease-in-out 0s}
.btn-add-group {
    background: #ff9416 none repeat scroll 0 0;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    margin: 20px auto;
    min-height: 46px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.navmenu.btn-add-group > span {
    background: #e17a01 none repeat scroll 0 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #000;
    font-size: 30px;
    left: 0;
    margin: 0;
    min-height: 46px;
    padding: 1px 10px;
    position: absolute;
    top: 0;
}
.btn-add-group:hover{background:#e17a01;text-decoration:none;color:#fff;}
.btn-add-group:hover span{color:#fff;transition:all 0.2s ease-in-out 0s;}
.btn-connect {background: #ff5454;
    border-radius: 5px;
    color:#fff;
    display: inline-block;
    font-size: 15px;
    margin: 20px auto;
    min-height: 46px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;}
	
.btn-connect > span {
    background: #fff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #000;
    font-size: 30px;
    left: 0;
    margin: 0;
    min-height: 46px;
    padding: 1px 10px;
    position: absolute;
    top: 0;
}
.btn-connect:hover{background:#fff;text-decoration:none;color:#000;}
.btn-connect:hover span{color:#f00;transition:all 0.2s ease-in-out 0s;}
.list-group-modify li.list-group-item a:hover {
    background: #9a90ff none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.list-group-modify li.list-group-item a.active {
   
    color: #fff !important;
	background:#ff0000 !important;
 
}
a:focus {
    outline: none;
    outline-offset: -2px;
}
.profile-img-mmbr {
    border-radius: 50%;
    float: left;
    height: 35px;
    margin-left: 12px;
    margin-right: 10px;
    overflow: hidden;
    width: 35px;
}
.profile-img-mmbr > img {
    height: 100%;
    width: 100%;
}


.member-group-modify {
    border-radius: 0;
    height: 384px;
    margin: auto;
    overflow-y: scroll;
    padding: 3px 0 1px;
    width: 96%;
}
.member-group-modify li{background:#f1f0fe;border:0px;margin:5px auto;}
.member-group-modify li.list-group-item{padding:0px;text-align:left;}
.member-group-modify li.list-group-item a{ font-size: 15px;line-height: 34px;color:#535351;font-family:Arial, Helvetica, sans-serif;display:inline-block;width:100%;}
.member-group-modify li.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
   margin-bottom:20px;
}
.member-group-modify li.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	
}
.member-group-modify li.list-group-item a:hover {background:#9a90ff;text-decoration:none;color:#fff;}
.padding-right0{padding-right:0px;}
.padding-left0{padding-left:0px;}
.on-line-member{background:#587cf0;color:#fff;font-size:17px;font-weight:bold;padding:3px 0px}
.active-id{margin-left:15px;color:#fff;}
.red-circel{color:#f00;}
.opacity-half{opacity:0.3;}
.member-btn-color{background:#aebbff;}
.member-btn-color:hover{background:#768dff;}
.navmenu.member-btn-color > span{background:#768dff;}

/*-------------ADD NEW MEMBER-----------------*/
.add-new{background:#e8e8e8;margin:50px 0px;padding:10px 0px;}
label.control-label {
    color: #676767;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}
.row.witdh-modify {
  
    margin: auto;
    width: 94%;
}
.form-group-gap {
    margin-bottom: 0px !important;
    padding: 0px 0 15px 29px;
}
.btn-upload-modify {
    background: #09f none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 30px;
	transition:all 0.5s ease-in-out 0s;
}
.btn-upload-modify:hover{background:#0CF;color:#000;}
.ppdding0{padding:0px !important;}
.upload-img-block {
    text-align: center;
    width: 83%;
}
.group-submit {
    background: #7970ff none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    margin: 90px 0 0;
    padding: 10px;
    width: 80%;
}
.group-submit:hover{background:#0CF;color:#000;}

/*----------------SEARCH-RESULT PAGE---------------------*/
.bg-color-1{background:#B41EFC !important;}
.bg-color-2{background:#7851A9 !important;}
.bg-color-3{background:#C947F5 !important;}
.search-background{background:rgba(255,255,255,0.2);margin-top:25px;padding-bottom:20px;border:solid 1px #666;}
.background-blue{background:rgba(171,171,255,0.5); border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px}
h1.search-title {
    background: #b0acff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color:#fff;
    font-family: "helvetica";
    font-size: 15px;
    font-weight: 500;
    padding: 11px;
    text-align: center;
    text-transform: uppercase;
    width: 20%;
	margin-bottom: 0;
   
}
.border4side{border:1px solid #eee;}
.bg-gray{background:#faf8ff;}
.search-profile > img {
    height: 100%;
    max-height: 145px;
    max-width: 130px;
    width: 100%;
}
.search-list {
    margin: 10px 0px;
    overflow-x: scroll;
    white-space: nowrap;
}
.search-list li.bg-gray {
    border: 1px solid #EEE;
    margin: 10px;
    width: 22.5%;
}
.search-parson-position{background:#7d71a3;color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:18px;padding:10px 0px;margin:5px 0px;display: inherit;transition:all 0.3s ease-in-out 0s;font-weight:bold;}
.search-parson-position:hover{background:#c0b3e6;color:#000;text-decoration:none;}
.col-sm-2.pull-right.count {
    background:#ffcc00;
    border-radius: 5px;
    color: #fff;
    font-family: helvetica;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-right: 56px;
    padding: 7px 0;
    text-align: center;
    width: 200px;
	margin-top:20px;
	transition:all 0.3s ease-in-out 0s;
}
.col-sm-2.pull-right.count:hover{background:#d1d900;}
.marginTOP{margin-top:10px;}
.margin-top60{margin-top:60px;margin-bottom: 30px;}
.result-text{background:#fff;font-family:Georgia,Times New Roman, Times, serif;font-size:22px;border-top-left-radius:10px;border-top-right-radius:10px;color:#2c3043;font-weight:400;text-transform:uppercase;margin-bottom:0;padding:15px 0px;}
.hder-modify-table {
    background: red none repeat scroll 0 0;
    color: white;
    text-align: center;
}
.hder-modify-table > th {
    font-family:;
    font-size: 16px;
    padding: 10px 0 !important;
    text-align: center;
	
}
.table-hover tr td {
    color: #fff;
    text-align: center;
}

.table-hover > tbody > tr:hover {
    background-color: #e4d6ff; color: #000;
}

.table-hover > tbody > tr:hover td {
    color: #000;
}
.result-profile{width:50px;height:50px;margin:0px auto;border-radius:50%;overflow:hidden;}
.result-profile img{width:100%;height:100%;}
.list-group-modify::-webkit-scrollbar-thumb{
background-color:#B03C3F;
border-radius:10px;
}
.list-group-modify::-webkit-scrollbar-thumb:hover{
background-color:#BF4649;
border:1px solid #333333;
}
.list-group-modify::-webkit-scrollbar-thumb:active{
background-color:#A6393D;
border:1px solid #333333;
} 
